footer.footer(class=(mainPage) ? '' : 'footer--inner')
			.footer__left
				.footer__logo
					img(src="img/logo--light.png", alt="")
					.copyright © 2017 АО "АЗГА"
				.footer__social
					.social
						a.social__item(href="#")
							i.icon.icon__youtube
						a.social__item(href="#")
							i.icon.icon__vk
			.footer__right
				.footer__info
					.phone
						span.phone__title Служба технической поддержки
						span.phone__value 8-800-555-40-35
						span.phone__mode 8:30 - 18:00
				.footer__panel
					button
						i.icon.icon__mail
						span Написать письмо
					button
						i.icon.icon__phone
						span Заказать обратный звонок
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_mrpHWFYsg4fbajhlQKE0vyk52DZWHuI&callback=initMap"
    async defer)
script(src="vendor/fancybox-3.0/dist/jquery.fancybox.min.js")
script(src="vendor/owl-carousel/owl.carousel.min.js")
script(src="vendor/jQuery-form-styler/jquery.formstyler.min.js")
script(src="vendor/massonry/masonry.pkgd.min.js")
script(src="js/main.js")