// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow-dark-down-name: 'icon__arrow--dark-down';
$icon-arrow-dark-down-x: 304px;
$icon-arrow-dark-down-y: 0px;
$icon-arrow-dark-down-offset-x: -304px;
$icon-arrow-dark-down-offset-y: 0px;
$icon-arrow-dark-down-width: 7px;
$icon-arrow-dark-down-height: 5px;
$icon-arrow-dark-down-total-width: 311px;
$icon-arrow-dark-down-total-height: 289px;
$icon-arrow-dark-down-image: '../img/sprite.png';
$icon-arrow-dark-down: (304px, 0px, -304px, 0px, 7px, 5px, 311px, 289px, '../img/sprite.png', 'icon__arrow--dark-down', );
$icon-chat-bg-name: 'icon__chat--bg';
$icon-chat-bg-x: 268px;
$icon-chat-bg-y: 22px;
$icon-chat-bg-offset-x: -268px;
$icon-chat-bg-offset-y: -22px;
$icon-chat-bg-width: 13px;
$icon-chat-bg-height: 12px;
$icon-chat-bg-total-width: 311px;
$icon-chat-bg-total-height: 289px;
$icon-chat-bg-image: '../img/sprite.png';
$icon-chat-bg: (268px, 22px, -268px, -22px, 13px, 12px, 311px, 289px, '../img/sprite.png', 'icon__chat--bg', );
$icon-chat-hover-name: 'icon__chat--hover';
$icon-chat-hover-x: 255px;
$icon-chat-hover-y: 34px;
$icon-chat-hover-offset-x: -255px;
$icon-chat-hover-offset-y: -34px;
$icon-chat-hover-width: 13px;
$icon-chat-hover-height: 12px;
$icon-chat-hover-total-width: 311px;
$icon-chat-hover-total-height: 289px;
$icon-chat-hover-image: '../img/sprite.png';
$icon-chat-hover: (255px, 34px, -255px, -34px, 13px, 12px, 311px, 289px, '../img/sprite.png', 'icon__chat--hover', );
$icon-chat-name: 'icon__chat';
$icon-chat-x: 281px;
$icon-chat-y: 10px;
$icon-chat-offset-x: -281px;
$icon-chat-offset-y: -10px;
$icon-chat-width: 13px;
$icon-chat-height: 12px;
$icon-chat-total-width: 311px;
$icon-chat-total-height: 289px;
$icon-chat-image: '../img/sprite.png';
$icon-chat: (281px, 10px, -281px, -10px, 13px, 12px, 311px, 289px, '../img/sprite.png', 'icon__chat', );
$icon-close-white-name: 'icon__close--white';
$icon-close-white-x: 191px;
$icon-close-white-y: 80px;
$icon-close-white-offset-x: -191px;
$icon-close-white-offset-y: -80px;
$icon-close-white-width: 16px;
$icon-close-white-height: 16px;
$icon-close-white-total-width: 311px;
$icon-close-white-total-height: 289px;
$icon-close-white-image: '../img/sprite.png';
$icon-close-white: (191px, 80px, -191px, -80px, 16px, 16px, 311px, 289px, '../img/sprite.png', 'icon__close--white', );
$icon-list-name: 'icon__list';
$icon-list-x: 40px;
$icon-list-y: 209px;
$icon-list-offset-x: -40px;
$icon-list-offset-y: -209px;
$icon-list-width: 40px;
$icon-list-height: 40px;
$icon-list-total-width: 311px;
$icon-list-total-height: 289px;
$icon-list-image: '../img/sprite.png';
$icon-list: (40px, 209px, -40px, -209px, 40px, 40px, 311px, 289px, '../img/sprite.png', 'icon__list', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 145px;
$icon-loop-y: 132px;
$icon-loop-offset-x: -145px;
$icon-loop-offset-y: -132px;
$icon-loop-width: 17px;
$icon-loop-height: 17px;
$icon-loop-total-width: 311px;
$icon-loop-total-height: 289px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (145px, 132px, -145px, -132px, 17px, 17px, 311px, 289px, '../img/sprite.png', 'icon__loop', );
$icon-mail-name: 'icon__mail';
$icon-mail-x: 240px;
$icon-mail-y: 46px;
$icon-mail-offset-x: -240px;
$icon-mail-offset-y: -46px;
$icon-mail-width: 15px;
$icon-mail-height: 10px;
$icon-mail-total-width: 311px;
$icon-mail-total-height: 289px;
$icon-mail-image: '../img/sprite.png';
$icon-mail: (240px, 46px, -240px, -46px, 15px, 10px, 311px, 289px, '../img/sprite.png', 'icon__mail', );
$icon-pdf-name: 'icon__pdf';
$icon-pdf-x: 0px;
$icon-pdf-y: 249px;
$icon-pdf-offset-x: 0px;
$icon-pdf-offset-y: -249px;
$icon-pdf-width: 40px;
$icon-pdf-height: 40px;
$icon-pdf-total-width: 311px;
$icon-pdf-total-height: 289px;
$icon-pdf-image: '../img/sprite.png';
$icon-pdf: (0px, 249px, 0px, -249px, 40px, 40px, 311px, 289px, '../img/sprite.png', 'icon__pdf', );
$icon-phone-name: 'icon__phone';
$icon-phone-x: 207px;
$icon-phone-y: 68px;
$icon-phone-offset-x: -207px;
$icon-phone-offset-y: -68px;
$icon-phone-width: 17px;
$icon-phone-height: 12px;
$icon-phone-total-width: 311px;
$icon-phone-total-height: 289px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (207px, 68px, -207px, -68px, 17px, 12px, 311px, 289px, '../img/sprite.png', 'icon__phone', );
$icon-select-arrow-name: 'icon__select-arrow';
$icon-select-arrow-x: 294px;
$icon-select-arrow-y: 5px;
$icon-select-arrow-offset-x: -294px;
$icon-select-arrow-offset-y: -5px;
$icon-select-arrow-width: 10px;
$icon-select-arrow-height: 5px;
$icon-select-arrow-total-width: 311px;
$icon-select-arrow-total-height: 289px;
$icon-select-arrow-image: '../img/sprite.png';
$icon-select-arrow: (294px, 5px, -294px, -5px, 10px, 5px, 311px, 289px, '../img/sprite.png', 'icon__select-arrow', );
$icon-triangle-border-blue-name: 'icon__triangle--border-blue';
$icon-triangle-border-blue-x: 162px;
$icon-triangle-border-blue-y: 113px;
$icon-triangle-border-blue-offset-x: -162px;
$icon-triangle-border-blue-offset-y: -113px;
$icon-triangle-border-blue-width: 14px;
$icon-triangle-border-blue-height: 19px;
$icon-triangle-border-blue-total-width: 311px;
$icon-triangle-border-blue-total-height: 289px;
$icon-triangle-border-blue-image: '../img/sprite.png';
$icon-triangle-border-blue: (162px, 113px, -162px, -113px, 14px, 19px, 311px, 289px, '../img/sprite.png', 'icon__triangle--border-blue', );
$icon-triangle-border-grey-name: 'icon__triangle--border-grey';
$icon-triangle-border-grey-x: 224px;
$icon-triangle-border-grey-y: 56px;
$icon-triangle-border-grey-offset-x: -224px;
$icon-triangle-border-grey-offset-y: -56px;
$icon-triangle-border-grey-width: 16px;
$icon-triangle-border-grey-height: 12px;
$icon-triangle-border-grey-total-width: 311px;
$icon-triangle-border-grey-total-height: 289px;
$icon-triangle-border-grey-image: '../img/sprite.png';
$icon-triangle-border-grey: (224px, 56px, -224px, -56px, 16px, 12px, 311px, 289px, '../img/sprite.png', 'icon__triangle--border-grey', );
$icon-triangle-white-bg-name: 'icon__triangle--white--bg';
$icon-triangle-white-bg-x: 176px;
$icon-triangle-white-bg-y: 96px;
$icon-triangle-white-bg-offset-x: -176px;
$icon-triangle-white-bg-offset-y: -96px;
$icon-triangle-white-bg-width: 15px;
$icon-triangle-white-bg-height: 17px;
$icon-triangle-white-bg-total-width: 311px;
$icon-triangle-white-bg-total-height: 289px;
$icon-triangle-white-bg-image: '../img/sprite.png';
$icon-triangle-white-bg: (176px, 96px, -176px, -96px, 15px, 17px, 311px, 289px, '../img/sprite.png', 'icon__triangle--white--bg', );
$icon-triangle-white-name: 'icon__triangle--white';
$icon-triangle-white-x: 104px;
$icon-triangle-white-y: 163px;
$icon-triangle-white-offset-x: -104px;
$icon-triangle-white-offset-y: -163px;
$icon-triangle-white-width: 17px;
$icon-triangle-white-height: 22px;
$icon-triangle-white-total-width: 311px;
$icon-triangle-white-total-height: 289px;
$icon-triangle-white-image: '../img/sprite.png';
$icon-triangle-white: (104px, 163px, -104px, -163px, 17px, 22px, 311px, 289px, '../img/sprite.png', 'icon__triangle--white', );
$icon-vk-name: 'icon__vk';
$icon-vk-x: 121px;
$icon-vk-y: 149px;
$icon-vk-offset-x: -121px;
$icon-vk-offset-y: -149px;
$icon-vk-width: 24px;
$icon-vk-height: 14px;
$icon-vk-total-width: 311px;
$icon-vk-total-height: 289px;
$icon-vk-image: '../img/sprite.png';
$icon-vk: (121px, 149px, -121px, -149px, 24px, 14px, 311px, 289px, '../img/sprite.png', 'icon__vk', );
$icon-youtube-name: 'icon__youtube';
$icon-youtube-x: 80px;
$icon-youtube-y: 185px;
$icon-youtube-offset-x: -80px;
$icon-youtube-offset-y: -185px;
$icon-youtube-width: 24px;
$icon-youtube-height: 24px;
$icon-youtube-total-width: 311px;
$icon-youtube-total-height: 289px;
$icon-youtube-image: '../img/sprite.png';
$icon-youtube: (80px, 185px, -80px, -185px, 24px, 24px, 311px, 289px, '../img/sprite.png', 'icon__youtube', );
$spritesheet-width: 311px;
$spritesheet-height: 289px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-dark-down, $icon-chat-bg, $icon-chat-hover, $icon-chat, $icon-close-white, $icon-list, $icon-loop, $icon-mail, $icon-pdf, $icon-phone, $icon-select-arrow, $icon-triangle-border-blue, $icon-triangle-border-grey, $icon-triangle-white-bg, $icon-triangle-white, $icon-vk, $icon-youtube, );
$spritesheet: (311px, 289px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
