include templates/head.jade
body
	.page-wrapper
		include templates/header.jade
		section.page-content
			.mobile-show
				.section.breadcrumbs
					ul
						li
							a(href="#") Главная
						li
							a(href="#") О компании
						li
							span История завода
				.page-title
					h1 История завода
			.container
				aside.left-sidebar
					.mobile-show
						button.left-menu-btn.js-toggle(data-toggle="left-menu")
							i.icon.icon__triangle--border-grey
							span Меню
					.left-menu
						.left-menu__group
							a.title(href="#") О компании
							ul
								li
									a(href="#") Цели и задачи
								li.active
									a(href="#") История компании
								li
									a(href="#") Завод
								li
									a(href="#") Сертификаты
								li
									a(href="#") Карьера
								li
									a(href="#") Партнеры и клиенты
								li
									a(href="#") Наши работы
						.left-menu__group
							a.title(href="#") Корпоративным клиентам
						.left-menu__group
							a.title(href="#") Социальная ответственность
						.left-menu__group
							a.title(href="#") Пресс-центр
							ul
								li
									a(href="#") Новости
								li
									a(href="#") Видеоархив
								li
									a(href="#") Вопрос-ответ
					.search-form
						form
							input(type="text" placeholder="Найти")
							button(type="submit")
								img.svg.svg--search(src="img/search.svg", alt="")
					.left-sidebar__product
						.products-slider__item
							.image
								img(src="img/product -1.jpg", alt="")
							.desc
								.desc__name Газовая колонка NEVA-4511
								.price
									span.price__old 9500
									span 9220 руб.
							a.link.button(href="#") Подробнее
						a.link(href="#") Открыть каталог
				section.page-content__main
					.mobile-hidden
						.section.breadcrumbs
							ul
								li
									a(href="#") Главная
								li
									a(href="#") О компании
								li
									span История завода
						.page-title
							h1 История завода
					.history-line
						.history-line__item
							.year 1992
							.desc
								img.desc__image(src="img/history-1.jpg", alt="")
								.desc__text
									p История Армавирского Завода Газовой Аппаратуры началась в 1992 году. Предприятие может по праву считаться одним из крупных и современных в России в своей нише (производство газовых котлов и водонагревателей).
						.history-line__item
							.year 2007
							.desc
								img.desc__image(src="img/history-2.jpg", alt="")
								.desc__text
									p В 2007 году Армавирский завод газовой аппаратуры дооснащается новым технологическим оборудованием, происходит изменение в ассортименте выпускаемой продукции.  Был налажен выпуск водонагревателей «Дарина-3010», «Дарина-3110». Водонагреватели «Дарина-3010», «Дарина-3110» является аналогом водонагревателя «Нева-3208». По экологической безопасности аппарат Дарина находится на уровне мировых стандартов.
						.history-line__item
							.year 2008
							.desc
								img.desc__image(src="img/history-3.jpg", alt="")
								.desc__text
									p В 2008 году завод приступил к выпуску водонагревателей «Нева-4510», «Нева-4513», «Нева-5016». Водонагреватели «Нева-4510» и «Нева-4513» полностью автоматизированы и имеют электронный розжиг горелки. ВПГ «Нева-4510» уменьшенных размеров и производительностью 10 л/мин. ВПГ «Нева-4513» производительностью 13 л/мин., с гидравлической модуляцией пламени горелки. Отличительной особенностью водонагревателей «Нева-5016» является наличие функции модуляции пламени горелки, которая позволяет поддерживать заданную температуру горячей воды, независимо от колебаний давления воды.
									p Для обеспечения этой функции при изготовлении водонагревателей применяется водогазовый узел производства немецкой фирмы «Mertik». В водонагревателях обеспечивается непрерывное гидравлическое управление модуляцией пламени горелки. ВПГ марки «Нева-5016» имеют пьезоэлектрическое зажигание горелки. Облицовка водонагревателей выполнена из металлопласта, противостоящего коррозии. По сравнению с европейскими аппаратами перечисленные водонагреватели стоят значительно дешевле. Преимуществами водонагревателей Нева являются и высокая степень ремонтопригодности, большой парк запасных частей.
						.history-line__item
							.year 2012
							.desc
								img.desc__image(src="img/history-4.jpg", alt="")
								.desc__text
									p 15 июня 2012 года был открыт новый производственный комплекс Армавирский завод газовой аппаратуры. На участках нового комплекса установлено современное итальянское оборудование. Проведенная модернизация производственных линий и внедрение инновационных технологий, таких как изготовление и пайка теплообменников в бескислородной среде, многократно повысят качество продукции и эффективность всего производства в целом. Мощность нового производства составит 450 тыс. единиц водонагревателей в год или 50% российского рынка данной продукции.
									p После модернизации и открытия в 2012 году нового производственного комплекса, предприятие способно закрыть половину потребностей российского рынка среди аналогичной продукции.
						.history-line__item.history-line__item--single-text
							.year 2017
							.desc
								.desc__text
									p Сегодня завод сконцентрирован на выпуске газовых проточных водонагревателей и отопительных котлов. Водонагреватели изготавливаются в соответствии с требованиями Российских нормативов на современных производственных линиях, оснащенных импортным оборудованием.
									p Сегодня Армавирский завод газовой аппаратуры базируется на современных производственных площадях. Основу производства составляет новое европейское оборудование, не имеющее аналогов на территории России. На заводе производится весь модельный ряд газовых водонагревателей торговой марки NEVA и NEVALUX: 4011, 4510, 4510M, 4511, 5111, 5514, 5611, 6011, 6014 и настенные газовые котлы NEVALUX 8618, 7218, 7224, 8224, 8624 и 8230.
		include templates/footer.jade
include templates/modal/index.jade