.modal
	form#form-proposal.modal-form
		.modal-form__main
			.modal-form__title
				i.icon.icon__list
				span Заявка на коммерческое предложение
			.modal-form__group
				label Имя
				.input
					input.input-text(type="text")
			.modal-form__group
				label Компания
				.input
					input.input-text(type="text")
			.modal-form__group
				label E-mail
				.input
					input.input-text(type="text")
			.modal-form__group
				label Телефон
				.input
					input.input-text(type="text")
			.modal-form__group
				label Комментарий
				.input
					textarea.input-text
			.modal-form__group
				.input
					.input-file
						input(type="file")                      
						.input-file__result
						button.input-file__btn Прикрепить файл
		.modal-form__footer
			button(type="submit") Отправить заявку









