.modal
	div#menu-modal.menu-modal
		.search-form
			form
				input(type="text" placeholder="Поиск по сайту")
				button(type="submit")
					img.svg.svg--search(src="img/search.svg", alt="")
		.menu-modal__links
			.col
				.col-group
					a.col-group__title(href="#") О компании
					ul
						li
							a(href="#") Цели и задачи
						li
							a(href="#") История
						li
							a(href="#") Завод
						li
							a(href="#") Сертификаты
						li
							a(href="#") Карьера
						li
							a(href="#") Партнеры и клиенты
						li
							a(href="#") Наши проекты
			.col
				.col-group
					a.col-group__title(href="#") Пресс-центр
					ul
						li
							a(href="#") Новости
						li
							a(href="#") Вопрос-ответ
						li
							a(href="#") Видео архив
				.col-group
					a.col-group__title(href="#") Корпоративным клиентам
			.col
				.col-group
					a.col-group__title(href="#") Сервисы
					ul
						li
							a(href="#") Энергоцентры и котельные
						li
							a(href="#") Газовые котлы и системы отопления
						li
							a(href="#") Аварийно-спасательная служба
						li
							a(href="#") Для частных домов
						li
							a(href="#") Промышленная газификация
			.col
				.col-group
					a.col-group__title(href="#") Контакты
					a.col-group__title(href="#") Где купить?
				.col-group
					a.col-group__title(href="#") Портал
				.col-group
					a.col-group__title(href="#") Социальная ответственность
		.menu-modal__production
			.title Продукция
			.products-slider.owl-carousel
				.products-slider__item
					.image
						img(src="img/product -1.jpg", alt="")
					.desc
						.desc__name Газовая колонка NEVA-4511
						.price
							span.price__old 9500
							span 9220 руб.
					a.link.button(href="#") Подробнее
				.products-slider__item
					.image
						img(src="img/product -2.jpg", alt="")
					.desc
						.desc__name Газовая колонка NEVA-4511 (серебро)
						.price
							span.price__old 10000
							span 9320 руб.
					a.link.button(href="#") Подробнее
				.products-slider__item
					.image
						img(src="img/product -3.jpg", alt="")
					.desc
						.desc__name Газовая колонка NEVA‑4513 М (серебро)
						.price
							span 11420 руб.
					a.link.button(href="#") Подробнее
				.products-slider__item
					.image
						img(src="img/product -4.jpg", alt="")
					.desc
						.desc__name Газовая колонка NEVA-4510М (серебро)
						.price
							span 7500 руб.
					a.link.button(href="#") Подробнее
				.products-slider__item
					.image
						img(src="img/product -5.jpg", alt="")
					.desc
						.desc__name Газовая колонка NEVA‑4513 М
						.price
							span.price__old 11950
							span 11320 руб.
					a.link.button(href="#") Подробнее
			.link-all
				a(href="#") Открыть каталог продукции